<div class="content">
    <div class="user-info">
        {{#if currentUser}}
            <h1>{{currentUser}}</h1>
            <form class="create-post" action="/" method="POST">
                <div class="input-section">
                    <input type="text" name="create_post" id="create_post" placeholder="Create post..." />
                </div>
                <div class="submit-button">
                    <button type="submit">Create Post</button>
                </div>
            </form>
        {{/if}}
    </div>
    <div class="posts-list">
        {{#each posts}}
            <div class="post">
                <h3>{{this.author.name}}</h3>
                <p>{{this.body}}</p>
            </div>
        {{else}}
            <h2>No posts</h2>
        {{/each}}
    </div>
</div>