<form class="login-form" action="/login" method="POST">
    <div class="input-section">
        <label for="username">
            Username
        </label>
        <input type="text" name="username" id="username" />
    </div>
    <div class="input-section">
        <label for="password">
            Password
        </label>
        <input type="password" name="password" id="password" />
    </div>
    <div class="submit-button">
        <button type="submit">Login</button>
    </div>
</form>